h3,h4{
    text-align: center;
    color: white;
}

.clear{
    clear: both;
}

:active, :hover, :focus{
    outline: 0;
    outline-offset: 0;
}
/*---registration_page.php---*/
.forms{
    width: 500px;
    height: 300px;
    margin: auto; 
    padding: 0;
    position: relative;
    top: 150px;
    border-radius: 5px;
    background-color: #363636;
    font-family: 'Open Sans', sans-serif;
}

.forms div:first-child{
    padding: 20px 10px;
    background-color: #292829;
    margin-bottom: 10px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

.form_user{
    display: inline-block;
}

#user_reg{
    float:left;
    margin-left: 20px;
}

#user_ent{
    float:right;
    margin-right: 20px;
}

.forms h3{
    margin: 0;
}

input.input_field, input.form_submit{
    height: 35px;
    width: 200px;
    border: none;
    border-radius: 3px;
    padding: 0 10px;
    display: block;
    margin-bottom: 1px;
}

input[type='text']{
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
}

input[type='password']{
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}

input.form_submit{
    margin-top: 10px;
    background-color: #EBEBEB;
    width: 220px;
    font: bold 14px 'Open Sans', sans-serif;
    color: #363636;
}

input.form_submit:hover{
    background-color: #BBB; 
}

#clear{
    color: red;
    text-align: center;
    padding-top: 15px;
}
/*----show_user_table.php----*/
/*#user_id{
    display: none;
}*/

body{
    background-image: url(../images/dark-stone-wall-background-tile.jpg);
}

#tableContainer{
    height: 300px;
    overflow-y: scroll;
    background-image: url(../images/tileable-dark-brown-wood-background.jpg);
    border-radius: 8px;
    -webkit-box-shadow: 1px 5px 5px black;
            box-shadow: 1px 5px 5px black;
}

table{
    border-collapse: collapse;
    margin: 10px auto;
    background-image: url(../images/hip-square/hip-square.png);
}

table input{
    width: 100%;    
}

td, th{
    max-width: 400px;
    border: 1px solid black; 
    padding: 5px;
}
.hidden_id{
    display: none;
}

button#arrowl{
    float:left;
}

button#arrowr{
    float:right;
}

button.fix{
    width: 100%;
    height: 100%;
}

input.formFix{
    background-color: transparent;
    border: none;
    font-size: 14px;
}

form.adding_form{
    width: 480px;
    /*border: 1px solid black;*/
    padding: 10px;
    margin: auto;
    margin-top: 20px;
    background-color: #8A8379;
    -webkit-box-shadow: 1px 1px 1px #676A6F,
                inset 1px 4px 1px #676A6F;
            box-shadow: 1px 1px 1px #676A6F,
                inset 1px 4px 1px #676A6F;
    border-radius: 5px;
    
}

form.adding_form .adding_form_field{
    background-color: #6E6D6B;
    border-radius: 5px;
    padding: 5px;
    border: 1px solid #4D4B4C;
    -webkit-box-shadow: inset 2px 2px 0px #4D4B4C,
                        0px 0px 1px #4D4B4C;
            box-shadow: inset 2px 2px 0px #4D4B4C,
                        0px 0px 1px #4D4B4C;
    color:antiquewhite;
    border: none;
    
}

form.adding_form .numbers{
    width: 50px;
}

#date{
    margin-bottom: 10px;
}

#date label{
    padding-top: 20px;
}

#comments label{
    display: block;
}

textarea::-webkit-input-placeholder{
    color: white;
} 

textarea::-moz-placeholder{
    color: white;
}

.button_submit{
    margin: 10px 35% 10px;
}
